<navbar class='ui blue stackable menu'>
	<a class='header item'>Manage Your Lights Better</a>

	<a href='/' id='nav_home' class='item'>Home</a>
	<a href='/individuals' id ='nav_indiv' class='item'>Individual Lights</a>
	<a href='/groups' id='nav_groups' class='item'>Group Management</a>

</navbar>