<% include ./partials/head %>
<% include ./partials/header %>

<h1 class='ui header'>Group Management</h1>

<div class='ui three column container'>
	<div class='six wide column'>
		<inlist class='ui vertical text menu'>
			<div class='header item'>Existing Lights in Group</div>
			<a id='l1' class='item'>Light 1</a>
			<a id='l2' class='item'>Light 2</a>
			<a id='l3' class='item'>Light 3</a>
		</inlist>
	</div>
	<div class='four wide column'>
	</div>
	<div class='six wide column'>
		<div class='ui vertical text menu'>
		</div>
	</div>
</div>


<script type="text/javascript" src='/js/groups.js'></script>
<% include ./partials/foot %>