<% include ./partials/head %>
<% include ./partials/header %>
	<div class='two ui labled icon buttons'>
		<a href='/individuals' class='massive blue ui button' id='individual-control'>
			<i class='lightbulb outline icon'></i>
			Individual Control
		</a>
		<br>
		<a href='/groups' class='massive green ui button' id='group-control'>
			<i class='object group icon'></i>
			Group Control
		</a>
	</div>

<script type="text/javascript" src='/js/home.js'></script>
<% include ./partials/foot %>