<% include ./partials/head %>
<% include ./partials/header %>
<h1 class='ui header'>Individual Lights</h1>

<br>

<a href='/setup-lights'>Setup Light</a>

<br>

<div class='ui stackable grid'>
  <!--"All Lights" Switch-->
	<div class='column'> 
  <!--List of lights to toggle-->
		<form class='ui form' action='/individuals' method='post' id='lights-switch'>
      <!-- Populate the lights -->
      <% lights.forEach( function(light, i) { %>
        <%= light %>
        <div class='field'>
          <div class='ui toggle checkbox' name='<%= light._id %>'>
            <!-- Automatically check the checkbox if it's on in the database -->
            <input type='checkbox' <%= light.lightIsOn ? 'checked' : '' %>>
            <label><%= light.name %></label>
          </div>
        </div>
      <% }) %>
		</form>
	</div>
</div>

<script type="text/javascript" src='/js/individuals.js'></script>
<%include ./partials/foot %>
